<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <link rel='stylesheet' type='text/css' href='style.css' >
  <title>Thermostat</title>
</head>
<body>

  <header>
    <h1>Thermostat</h1>
  </header>
  <div id='container'>
    <h3>Current Temperature: <spam id='temperature'>Temperature</spam> C</h3>
    <p>
      <button id='temperature-up'>Temp: +</button>
      <button id='temperature-down'>Temp: -</button>
      <button id='temperature-reset'>Reset Temp</button>
      Power saving mode is: <span id='power-mode'>on</span>
      <button id='power-saving-on'>PSM on</button>
      <button id='power-saving-off'>PSM off</button>
    </p>
    <section>
      <h3 class='city-temp' >Current Temperature <span id='city-selected'>London</span>: <span id='current-temperature'>Load Error</span></h3>
      <h3 class='city-temp' >Feels Like: <span id='feels-like-temperature'>Load Error</span></h3>
      <h4>Select Temperature in your City</h4>
      <form id='select-city'>
        <input id='current-city' placeholder='Enter City' value='London' type='text'>
        <input value='Submit' type='submit' >
      </form>
    </section>
    <h3>Save Your Thermostat Settings</h3>
    <form action='/save-data' method='post'>
      <input id='save-temperature' placeholder='Save Temperature' type='text' name='save_temperature' >
      <input id='save-PSM' placeholder='Save PSM' type='text' name='save_PSM' >
      <input id='save-city' placeholder='Save City' type='text' name='save_city' >
      <input value='Save Data' type='submit' >
    </form>
    <div id='thermostat-data'>
      <% @data.each do |db| %>
        <ul>
          <li>
            <p>Temperature: <%= db['temperature'] %></p>
            <p>PSM: <%= db['psm'] %></p>
            <p>City: <%= db['city'] %></p>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  <footer>
    <p>&copy; <a href='https://github.com/EdAncerys'>Ed Ancerys</a></p>
  </footer>

  <script src="./src/thermostat.js"></script>
  <script src="./src/interface.js"></script>
</body>
</html>